<div class="flex flex-col sm:flex-row mt-32 pl-2">
    <turbo-frame id="dog_form" class="w-full sm:w-1/2">
        <%= form_tag "/dogs/view", method: :post, remote: true do %>
            <div class="border-2 border-white-300 p-4 rounded-lg shadow-lg field-ratio bg-light">
                <%= label_tag :breed, "Breed", class: "block text-lg font-bold mb-2" %>
                <div class="autocomplete" style="display: flex;">
                    <%= text_field_tag :breed, nil, placeholder: "Enter dog breed", required: true, class: "form-control p-2 rounded-lg mr-2", id: "dog_breed_field" %>
                    <%= submit_tag "Submit", class: "btn btn-sm btn-primary bg-blue-500 text-white p-2 rounded-lg" %>
                </div>
            </div>
        <% end %>
    </turbo-frame>

    <turbo-frame id="dog_image" class="w-full mb-16"></turbo-frame>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var dog_breeds_name = <%= @dog_breeds_name.to_json.html_safe %>;
        $("#dog_breed_field").autocomplete({ source: dog_breeds_name });
    });
</script>